<body>
  <form id="form" action="/login" method="POST">
    <label id="nameLabel" for="username">Username</label><br>
    <input type="text" name="username">

    <br><br>
    <label id="passLabel" for="password">Password</label><br>
    <input type="password" name="password">
    <br><br>

    <button id="submitButton" >Login</button>
  </form>
</body>