
<head>
  <title>Sign Up</title>
</head>

<body>
  <form id="form" action="/signup" method="POST">
    <label id="nameLabel" for="username">Username</label><br>
    <input type="text" name="username">

    <br><br>
    <label id="passLabel" for="password">Password</label><br>
    <input type="password" name="password">
    <br><br>

    <button id="submitButton" >Create account</button>
  </form>
</body>
