<h1 class="blendsTitle">Shisha Flavors</h1>



<div class="blendsContainer">
    <div class="blendsUL">
        <ul>
            {{#each infoFromDb}}
                <li>{{this.names}}</li>
            {{/each}}
        </ul>
    </div>
</div

