<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <h1>Hookah Menu</h1>
</div>

{{!--<div class="topButtons">
    <input type="button" class="button" value="Sign Up">
    <input type="button" class="button" value="Log In">
</div>--}}

<div class="authContainer">
  <a class="button" href="/">Home</a>
  <a class="button" href="/signup">Sign up</a>
  <a class="button" href="/login">Login</a>
  <a class="button" href="/secret">My Lounge</a>
  <a class="button" href="/logout">Logout</a>
</div>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
